// Customize the colors of Octoflat Here


$primary-color:      #800000; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #34495E; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #800000; // Hover-over color, Active Page color
$accent-color1:      #ffffff; // Hover-over background color for tags
$accent-color2:      #34495E; // Sub-headings, Date Stamp
$accent-color3:      #ffffff; // Navbar Text, Tag text
$bg-color:           #ffffff; // Background
$navbar-color:       #476795; // Navbar
$code-bg-color:      #34495E; // Code background
$quote-color:        #34495E; // Quote Color
$text-color:         #34495E; // Body Text
$footer-color:       #34495E; // Footer
//1ec2de
//1dbbd6
//e69411
//CCEEFF
//E0E0E0
//FFFFE0
//E6E6FA
//F8F8FF
//E74C3C

